body {
  margin: 20px;
  background-color: rgb(235, 179, 106);
}

#span1 {
  background-color: rgb(250, 165, 165);
  padding:10px;
  margin: 20;
}

#main-div {
  background-color: #94da88;
  padding: 10px;
  border-radius: 0 0 10px 0;
  box-shadow: 4px 4px 4px #888888;

}

.text-boxes-style{
  border-radius: 4px;
  box-shadow: 4px 4px 4px #888888;
}
